.header
  width: 100%
  height: 750px
  background: #061e37 url(../img/header/bg.svg) no-repeat

.header-block
  &__main-menu
    width: 90rem
    height: 1.8rem
    margin: 0 auto
    padding-top: 3.75rem
    display: flex
    flex-direction: row
    justify-content: space-between

  &__links
    &--items
      list-style-type: none
      width: 27.5rem
      display: flex
      justify-content: space-between
      align-content: space-between
      margin: 0
      padding: 0

    &--item a
      color: #ffffff
      font-size: 0.9rem

  &__sign-up
    &--button
      color: #ffffff
      text-transform: lowercase
      border: 1px solid #ffffff
      padding: 6px 20px 6px 20px

  &__logo
    & a
      text-transform: uppercase
      color: #ffffff
      font-size: 0.9rem
      line-height: 15px

    &--bold
      font-weight: 700

  &__logo a::before
    content: url("../img/logo/dart-logo.svg")
    width: 24px
    height: 24px


.active a
  color: #061e37
  font-weight: 600



